.post-text > p > strong {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.0375rem;
  color: #0a0a0a;
  margin-bottom: 2rem;
}
.post-text > h3 {
  color: #0a0a0a;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.post-text > p {
  color: #0a0a0a;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.0375rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.post-text > ul {
  list-style: disc;
  padding-left: 1.5rem;
}
.post-text > ul > li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 875px) {
  .post-text > p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.03rem;
  }
  .post-text > strong {
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .post-text > h3 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.03rem;
  }
}
